.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
server/src/**
client/src/**
scripts/**
.github/**
*.md
!README.md
!CHANGELOG.md
!CONTRIBUTING.md
**/test/**
**/.eslintrc*
.editorconfig
.npmrc
**/tsconfig.tsbuildinfo
.drone.yml
