.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/node_modules/**
server/src/**
client/src/**
scripts/**
.github/**
*.md
!README.md
!CHANGELOG.md
